<%# if course.errors.any? %>
  <div class="grid justify-items-center">
    <div class="flex flex-col p-8 bg-gray-800 shadow-md hover:shodow-lg rounded-2xl w-3/5 mt-5">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="w-16 h-16 rounded-2xl p-3 border border-gray-800 text-blue-400 bg-gray-900" fill="none"
               viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <div class="flex flex-col ml-3">
            <div class="font-medium leading-none text-gray-100">Notice</div>
            <p class="text-sm text-gray-500 leading-none mt-1">
            <ul>
              <% content.errors.each do |error| %>
                <li>ABC<%= error.full_message %></li>
              <% end %>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>
